* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
    border: none;
}
body{
    scroll-behavior: smooth;
}
.container-fluid {
    width: 100%;
}

/* ---- HEADER---- */
.header {
    position: sticky;
    top: 0;
    width: 90%;
    margin: auto;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
}

.header-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header .img img {
    width: 100px;
}

.header .txt {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
    white-space: nowrap;
}

.header .txt a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.675);
    transition: .2s ease;
    font-size: 1rem;
}

.header .txt a:hover {
    color: rgb(237, 32, 36);
}

.header .txt .plus {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    background-color: rgb(237, 32, 36);
    color: white;
    padding: 10px;
    border-radius: 50px;
}

.txt .plus .bi {
    font-size: 1.2rem;
}

.header .txt .plus:hover {
    color: white;
    background-color: rgba(237, 32, 35, 0.596);
}

.txt .bi-list {
    display: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.txt .drop {
    position: relative;
}

.txt .dropdown {
    position: absolute;
    background-color: white;
    box-shadow: 0 0 8px .25px rgba(0, 0, 0, 0.215);
    border-radius: 5px;
    display: none;
}

.txt .dropdown li {
    list-style: none;
    padding: 5px;
    color: rgba(0, 0, 0, 0.562);
}

.txt .dropdown li:hover {
    color: (237, 32, 35, 0.596);
}

.drop:hover .dropdown {
    display: block;
}

@media(max-width:1021px) {
    .header {
        width: 95%;
    }

    .header .txt {
        gap: 15px;
    }
}

@media(max-width:826px) {
    .header-con {
        padding: 10px 0;
    }

    .txt .alink {
        display: none;
    }

    .header .txt {
        gap: 10px;
    }

    .txt .bi-list {
        display: block;
    }

    .header .txt .plus {
        font-size: 0.8rem;
        padding: 5px;
    }
}

/* ---- SECTION1---- */
.section1 {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.573)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
}

.section1-con {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 100px 0;
    color: white;
}

.section1-con h4 {
    width: 50%;
    margin: 100px auto;
    text-align: center;
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.83);

}

.section1-con h1 {
    width: 50%;
    margin: 10px auto;
    font-size: 4rem;
    text-align: center;
}

.section1-con p {
    width: 50%;
    margin: 30px auto;
    text-align: center;
    font-size: 1.2rem;
}

.section1-con .a {
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    box-shadow: 0 0 20px .25px rgba(237, 32, 35, 0.762);
}

.sec1-link {
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.sec1-link .view {
    background-color: white;
    color: rgb(237, 32, 35);
    padding: 10px 30px;

}

.sec1-link .view:hover {
    color: black;
}

.sec1-link .get {
    background-color: rgba(237, 32, 35);
    color: white;
}

.sec1-link .get:hover {
    background-color: rgba(237, 32, 35, 0.841);
}

@media(max-width:1021px) {
    .section1{
        height: auto;
    }
    .section1-con {
        width: 100%;
    }

    .section1-con h4 {
        width: 80%;
    }

    .section1-con h1 {
        width: 80%;
    }

    .section1-con p {
        width: 80%;
    }

}

@media(max-width:826px) {
     .section1{
        height: auto;
    }
    .section1-con {
        width: 100%;
    }

    .section1-con h4 {
        width: 50%;
        margin: 5px auto;
    }

    .section1-con h1 {
        width: 100%;
        margin: 5px auto;
        font-size: 2.5rem;
    }

    .section1-con p {
        width: 100%;
        margin: 20px auto;
        font-size: 1rem;

    }

    .sec1-link {
        width: 90%;
        flex-direction: column;
    }

    .sec1-link .view {
        width: 100%;
    }

    .sec1-link .get {
        width: 100%;
    }

    .section1-con {
        padding: 50px o;
    }
}

/* ---- SECTION2---- */

.section2 {
    width: 100%;
}

.section2-con {
    width: 90%;
    margin: auto;
}

.section2-con h1 {
    text-align: center;
    font-size: 3rem;
    padding: 50px 0;
}

.section2-con .imgs {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.section2-con .imgs img {
    width: 70%;
}

@media(max-width:826px) {
    .section2-con .imgs {
        grid-template-columns: repeat(4, 1fr);
    }

    .section2-con h1 {
        font-size: 2rem;
    }
}

/* ----section3---- */

.section3 {
    width: 100%;
    margin-top: 50px;
}

.section3-con {
    width: 90%;
    margin: auto;
}

.section3 h1 {
    text-align: center;
    padding: 50px 0;
    font-size: 3.5rem;

}

.slide11 img {
    width: 10%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.slide21 img {
    width: 10%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.slide31 img {
    width: 10%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.slide {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.slide1 {
    background-color: red;
    width: 95%;
    border-radius: 5px;
}

.slide2 {
    background-color: green;
    width: 95%;
    border-radius: 5px;
}

.slide3 {
    background-color: red;
    width: 95%;
    border-radius: 5px;
}

.slide11 {
    width: 100%;
    border-radius: 5px;
    padding: 50px 0 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.289)), url(img/slide/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
}

.slide21 {
    width: 100%;
    border-radius: 5px;
    padding: 50px 0 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.289)), url(img/slide/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
}

.slide31 {
    width: 100%;
    border-radius: 5px;
    padding: 50px 0 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.289)), url(img/slide/14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center;
}

.slide1 h3 {
    font-size: 1.5rem;
}

.slide2 h3 {
    font-size: 1.5rem;
}

.slide3 h3 {
    font-size: 1.5rem;
}

.slide1 p {
    margin-bottom: 30px;
}

.slide2 p {
    margin-bottom: 30px;
}

.slide3 p {
    margin-bottom: 30px;
}

.slide1 .txtt {
    padding: 20px;
}

.slide2 .txtt {
    padding: 20px;
}

.slide3 .txtt {
    padding: 20px;
}

.slide1 a {
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-top: 20px;
}

.slide2 a {
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-top: 20px;
}

.slide3 a {
    font-size: 0.8rem;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.508);
    border-radius: 20px;
    backdrop-filter: blur(30px);
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-top: 20px;
}

.slide111 {
    padding: 20px;
}

.slide211 {
    padding: 20px;
}

.slide311 {
    padding: 20px;
}

@media(max-width:826px) {
    .section3-con {
        width: 95%;
    }

    .slide {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .section3-con h1{
        font-size: 2rem;
        width: 80%;
        margin: auto;
    }

    .slide1,
    .slide2,
    .slide3 {
        width: 100%;
        margin-bottom: 30px;
    }
}

/* ----SECTION4---- */
.section4 {
    width: 100%;
    margin-top: 100px;
    background-image: url(img/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section4-con {
    width: 90%;
    margin: auto;
    color: white;
    padding: 100px;
}

.section4-con h1 {
    font-size: 3rem;
    text-align: center;
    width: 70%;
    margin: auto;
}

.section4-con p {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin: 30px auto;
    line-height: 30px;
}

.section4-con .linkk {
    font-size: 1rem;
    text-align: center;
    width: 70%;
    margin: 30px auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

.linkk a {
    width: 200px;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 10px .25px rgb(237, 27, 35);
}

.linkk .view {
    background-color: white;
    color: rgb(237, 27, 35);
    padding: 10px 30px;
    transition: .3s ease;
}

.linkk .view:hover {
    color: black;
}

.linkk .get {
    background-color: rgb(237, 27, 35);
    color: white;
    transition: .3s ease;
}

.linkk .get:hover {
    background-color: rgba(237, 27, 34, 0.784);
}

@media (max-width:1021px) {
    .section4-con h1 {
        font-size: 2rem;
    }

    .section4-con p {
        font-size: 1.2rem;
    }

    .linkk {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width:826px) {
    .section4-con h1 {
        width: 100%;
        font-size: 1.8rem;
    }

    .section4-con p {
        font-size: 1rem;
        width: 100%;
    }

    .linkk {
        flex-direction: column;
        width: 100%;
    }

    .linkk a {
        width: 100%;
    }
    .section4-con{
        padding: 20px;
    }
}

/* ----section5---- */

.section5 {
    width: 100%;
    margin-top: 200px;
}

.section5-con {
    width: 90%;
    margin: auto;

}

.section5-con h1 {
    width: 50%;
    margin: auto;
    font-size: 2.5rem;
    text-align: center;

}

.section5-con p {
    font-size: 1.2rem;
    text-align: center;
    width: 50%;
    margin: auto;

}

.imgg {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 50px;
}

.imggg {
    width: 90%;
    margin: auto;
    background-color: rgb(243, 244, 246);
    padding: 20px;
    border-radius: 10px;

}
.imggg h3{
    font-size: 1.5rem;
    font-weight: 600;
}
.imggg p{
    font-size: 1.2rem;
    width: 80%;
    text-align: start;
}
.imgg img {
    width: 100%;
}
footer h4{
    width: 100%;
  color: rgba(237, 27, 34, 0.784);
  text-align: center;
  padding: 30px;
  font-size: 2rem;
}
@media(max-width:826px){
    .imgg{
        grid-template-columns: auto;
    }
    .imggg{
        margin-top: 50px;
    }
    .section5-con{
        width: 95%;
    }
    .section5-con h1{
        width: 95%;
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    .section5-con p{
        width: 95%;
        font-size: 1rem;
    }
    footer h4{
        font-size: 1.2rem;
        margin-bottom: 50px;
    } 
}